{
	"trailingComma": "es5",
	"printWidth": 90,
	"tabWidth": 4,
	"useTabs": true,
	"semi": false,
	"singleQuote": false,
	"bracketSameLine": false,
	"bracketSpacing": true,
	"jsxSingleQuote": false,
	"arrowParens": "avoid",
	"singleAttributePerLine": true
}
